{
  "extends": ["airbnb","plugin:prettier/recommended"],
  "plugins": [
      "react",
      "jsx-a11y",
  ],
  "rules": {
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ]
  }
}
