{
  "parser": "babel-eslint",
  "extends": ["airbnb","plugin:prettier/recommended"],
  "plugins": [
      "react",
      "jsx-a11y"
  ],
  "rules": {
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}
